*{
	box-sizing: border-box;
}


/*.nav{
	background-color: lightgray;
	font-size: x-large;
	font-weight: bold;
}
.nav .nav-item{
	margin-right: 1em;
	color: royalblue;
	cursor: pointer;
}*/

h2{
	text-align: center;
	background-color: lightsteelblue;
}

td.linked 
,a.linked 
,div.linked 
,span.linked 
{
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.group-description 
,.voter-description 
,.decision-description 
{
	width: 30em;
	height: auto;
	outline: solid thin lightgray;
}

.inline-block {
	display: inline-block;
}

label {
	vertical-align: top;
}

input {
	width: 30em;
}

