
Decision System/.vs/DecisionSystem/v16/.suo
*.lock
Decision System/.vs/DecisionSystem/v16/Server/sqlite3/storage.ide
Decision System/.vs/DecisionSystem/v16/Server/sqlite3/storage.ide-shm
Decision System/.vs/DecisionSystem/v16/Server/sqlite3/storage.ide-wal
