*{
	box-sizing: border-box;
}


div.navbar{
	background-color: lightgray;
	font-size: x-large;
	font-weight: bold;
}
div.navbar > span{
	margin-right: 1em;
	color: royalblue;
	cursor: pointer;
}

h2{
	text-align: center;
	background-color: lightsteelblue;
}
