<html>
	<head>
		<title>
			Decision System
		</title>
		<link rel="stylesheet" href="jquery.datatables.min.css">
		</link>
		<link rel="stylesheet" href="voting.css">
		</link>
	</head>
	<body>
		<div id="vue">
			<nav-bar
					@showdecisionlist="showDecisionList"
					@showgrouplist="showGroupList"
					@showentitylist="showEntityList"
					>
			</nav-bar>
			<div v-if="isDecisionListDisplayed">
				<button class="create-button" @click="createDecision">Create</button>
				<data-table
						:columns="decisionsColumns"  
						:data="decisions" 
						header="Decisions"
						>
				</data-table>
			</div>
			<div v-if="isGroupListDisplayed">
				<button class="create-button" @click="createGroup">Create</button>
				<data-table
						:columns="groupsColumns"  
						:data="groups" 
						header="Groups"
						>
				</data-table>
			</div>
			<div v-if="isEntityListDisplayed">
				<button class="create-button" @click="createEntity">Create</button>
				<data-table
						:columns="entitiesColumns"  
						:data="entities" 
						header="Entities"
						>
				</data-table>
			</div>
			<div v-if="isDecisionDetailDisplayed">
				<decision-detail
				:value="currentDecision"
				editable="true">
				</decision-detail>
			</div>
			<div v-if="isGroupDetailDisplayed">
				<group-detail
				:group="currentGroup"
				editable="true">
				</group-detail>
			</div>
			<div v-if="isEntityDetailDisplayed">
				<entity-detail
				:entity="currentEntity"
				editable="true">
				</entity-detail>
			</div>
		</div>

		<template id="tmpNavBar">
			<div class="navbar">
				<span @click="showDecisionList">Decisions</span>
				<span @click="showGroupList">Groups</span>
				<span @click="showEntityList">Entities</span>
			</div>
		</template>
		<template id="tmpDataTable">
			<div>			
				<h2>{{header}}</h2>
				<table class="data-table" class="display compact" width="100%"/>
			</div>		
		</template>
		<template id="tmpDecisionDetail">
			<div>
				<pre>{{decision}}</pre>
				<h2>Decision</h2>
				<div v-if="!editable">
					<div>
						<label>Name:</label>
						<span>{{decision.name}}</span>
					</div>
					<div>
						<label>Description:</label>
						<div>{{decision.description}}</div>
					</div>
					<div>
						<label>Href:</label>
						<a href="decision.href">{{decision.href}}</a>
					</div>
					<div>
						<label>Group:</label>
						<a href="group.href">{{group.name}}</a>
					</div>
				</div>
				<div v-if="editable">
					<div>
						<label>Name:</label>
						<input type="text">{{decision.name}}</input>
					</div>
					<div>
						<label>Description:</label>
						<textarea>{{decision.description}}</textarea>
					</div>
					<div>
						<label>Group:</label>
						<a v-if="decision.groupId" :href="group.href">{{group.name}}</a>
						<button @click="selectGroup">Select Group</button>
						<div 
							v-if="isSelectingGroup"
							class="modal">
							<data-table
								:columns="groupsColumns"  
								:data="groups" 
								header="Select a Group"
								>
							</data-table>
						</div>
					</div>
					<!-- todo pass in selection event -->
					<button class="save-button" @click="save">Save</button>
				</div>
			</div>
		</template>
		<template id="tmpGroupDetail">
			<div>
				<h2>Group</h2>
				<div v-if="!editable">
					<div>
						<label>Name:</label>
						<span>{{group.name}}</span>
					</div>
					<div>
						<label>Description:</label>
						<div>{{group.description}}</div>
					</div>
					<div>
						<label>Href:</label>
						<a href="href">{{group.href}}</a>
					</div>
					<div>
						<label>Parent:</label>
						<a href="parent.href">{{group.parent.name}}</a>
					</div>
					<div>
						<data-table
								:columns="entitiesColumns"  
								:data="group.children" 
								header="Children"
								>
						</data-table>
					</div>
				</div>
				<div v-if="editable">
					<div>
						<label>Name:</label>
						<input type="text">{{group.name}}</input>
					</div>
					<div>
						<label>Description:</label>
						<textarea>{{group.description}}</textarea>
					</div>
					<!-- todo pass in selection event -->
					<div>
						<label>Parent:</label>
						<data-table
								:columns="groupsColumns"  
								:data="groups" 
								header="Groups"
								>
						</data-table>
					</div>
					<div>
						<label>Children:</label>
						<data-table
								:columns="entitiesColumns"  
								:data="group.children" 
								header="Entities"
								>
						</data-table>
					</div>
					<button class="save-button" @click="saveGroup">Save</button>
				</div>
			</div>
		</template>
		<template id="tmpEntityDetail">
			<div>
				<h2>Entity</h2>
				<div v-if="!editable">
					<div>
						<label>Name:</label>
						<span>{{entity.name}}</span>
					</div>
					<div>
						<label>Description:</label>
						<div>{{entity.description}}</div>
					</div>
					<div>
						<label>Href:</label>
						<a href="href">{{entity.href}}</a>
					</div>
					<div>
						<label>Parent:</label>
						<a href="href">{{entity.parent.href}}</a>
					</div>
				</div>
				<div v-if="editable">
					<div>
						<label>Name:</label>
						<input type="text">{{entity.name}}</input>
					</div>
					<div>
						<label>Description:</label>
						<textarea>{{entity.description}}</textarea>
					</div>
					<!-- todo pass in selection event -->
					<div>
						<label>Parent:</label>
						<data-table
								:columns="groupsColumns"  
								:data="groups" 
								:selected-value="parent.id"
								header="Parent"
								>
						</data-table>
					</div>
					<button class="save-button" @click="saveEntity">Save</button>
				</div>
			</div>
		</template>
		<script src="webcomponents-loader.js">
		</script>
		<script src="vue.js">
		</script>
		<!-- <script src="vue.min.js">
</script> -->
		<script src="jquery-3.4.1.js">
		</script>
		<script src="jquery-ui.js">
		</script>
		<script src="jquery.datetimepicker.full.min.js">
		</script>
		<script src="jquery.datatables.min.js">
		</script>
		<script src="jstree.js">
		</script>
		<script src="voting.js">
		</script>
	</body>
</html>
