<html>
	<head>
		<title>
			Decision System
		</title>
		<link rel="stylesheet" href="jquery-ui.min.css">
		</link>
		<link rel="stylesheet" href="jquery-ui.structure.min.css">
		</link>
		<link rel="stylesheet" href="jquery-ui.theme.min.css">
		</link>
		<link rel="stylesheet" href="jquery.datatables.min.css">
		</link>
		<link rel="stylesheet" href="voting.css">
		</link>
	</head>
	<body>
		<div id="vue">
			<nav-bar
					@showdecisionlist="showDecisionList"
					@showgrouplist="showGroupList"
					@showentitylist="showEntityList"
					>
			</nav-bar>

			<div v-if="currentComponent.length > 0">
				<button class="create-button" @click="create_onclick">Create</button>
				<component :is="currentComponent" v-bind="currentProperties" v-on="currentEvents"/>
			</div>
		</div>

		<template id="tmpNavBar">
			<div class="navbar">
				<span @click="showDecisionList">Decisions</span>
				<span @click="showGroupList">Groups</span>
				<span @click="showEntityList">Entities</span>
			</div>
		</template>
		<template id="tmpDataTable">
			<div>			
				<h2>{{header}}</h2>
				<table class="data-table" class="display compact" width="100%"/>
			</div>		
		</template>
		<template id="tmpDecisionDetail">
			<div>
				<!-- <pre>decision:{{decision}}</pre> -->
				<h2>Decision</h2>
				<div v-if="!editable">
					<div>
						<label>Name:</label>
						<span>{{decision.name}}</span>
					</div>
					<div>
						<label>Description:</label>
						<div>{{decision.description}}</div>
					</div>
					<div>
						<label>Group:</label>
						<a @click="showGroupDetail" v-if="decision.groupId">{{group.name}}</a>
					</div>
				</div>
				<div v-if="editable">
					<div>
						<label>Name:</label>
						<input type="text" v-model="decision.name"/>
					</div>
					<div>
						<label>Description:</label>
						<textarea v-model="decision.description">{{decision.description}}</textarea>
					</div>
					<div>
						<div>
							<label>Group:</label>
							<span v-if="decision.groupId" class="linked" @click="showGroupDetail">{{group.name}}</span>
							<button @click="selectGroup">Select Group</button>
						</div>
						<div 
							v-if="isSelectingGroup"
							class="modal group">
							<data-table
								:columns="groupColumns"  
								:data="groups" 
								select-mode="single"
								header="Select a Group"
								@select="setGroup">
							</data-table>
						</div>
					</div>
				</div>
			</div>
		</template>
		<template id="tmpGroupDetail">
			<div>
				<h2>Group</h2>
				<pre>{{group}}</pre>
				<div v-if="!editable">
					<div>
						<label>Name:</label>
						<span>{{group.name}}</span>
					</div>
					<div>
						<label>Description:</label>
						<div>{{group.description}}</div>
					</div>
					<div>
						<label>Parent:</label>
						<a @click="showGroupDetail">{{group.parent.name}}</a>
					</div>
					<div>
						<data-table
								:columns="entitiesColumns"  
								:data="group.children" 
								header="Children"
								>
						</data-table>
					</div>
				</div>
				<div v-if="editable">
					<div>
						<label>Type:</label>
						<div>
							<input type="radio" name="type" value="1" v-model="group.type" :checked="group.type === 1"/>
							<label>Group</label>
						</div>
						<div>
							<input type="radio" name="type" value="0"  v-model="group.type" :checked="group.type === 0"/>
							<label>Entity</label>
						</div>
					</div>
					<div>
						<label>Name:</label>
						<input type="text" v-model="group.name" />
					</div>
					<div>
						<label>Description:</label>
						<textarea>{{group.description}}</textarea>
					</div>
					<div>
						<div>						
							<label>Parent:</label>
							<span v-if="group.parentId" class="linked" @click="showGroupDetail">{{parent.name}}</span>
							<button @click="selectGroup">Select Parent</button>
						</div>
						<div v-if="isSelectingGroup"
							class="modal parent">
							<data-table
								:columns="groupColumns"  
								:data="groups" 
								select-mode="single"
								header="Select a Group"
								@select="setGroup">
							</data-table>
						</div>
					</div>
					<div>
						<div>
							<label>Children:</label>
							<button @click="showAddChild">Add</button>
						</div>
						<div v-if="isAddingChild"
							class="modal children">
							<data-table
								:columns="columns"  
								:data="childSelectionList" 
								select-mode="single"
								class="child-selector"
								:header="header"
								@select="addChild">
							</data-table>
						</div>

						<data-table
								:columns="columns"  
								:data="childrenDisplay" 
								:header="header"
								class="children"
								select-mode="multi"
								@select="removeChild"
								@show-detail="showDetail"
								@show-group-detail="showGroupDetail">
						</data-table>
					</div>
				</div>
			</div>
		</template>
		<template id="tmpEntityDetail">
			<div>
				<!-- <pre>{{entity}}</pre> -->
				<h2>Entity</h2>
				<div v-if="!editable">
					<div>
						<label>Name:</label>
						<span>{{entity.name}}</span>
					</div>
					<div>
						<label>Description:</label>
						<div>{{entity.description}}</div>
					</div>
					<div>
						<label>Parent:</label>
						<a @click="showGroupDetail">{{entity.parent.href}}</a>
					</div>
				</div>
				<div v-if="editable">
					<div>
						<label>Name:</label>
						<input type="text" v-model="entity.name"/>
					</div>
					<div>
						<label>Description:</label>
						<textarea v-model="entity.description"> </textarea>
					</div>
					<!-- todo pass in selection event -->
					<div>
						<div>						
							<label>Parent:</label>
							<span v-if="entity.groupId" class="linked" @click="showGroupDetail">{{group.name}}</span>
							<button @click="setupParentSelect">Select Parent</button>
						</div>
						<div v-if="isSelectingGroup"
							class="modal group">
							<data-table
								:columns="groupColumns"  
								:data="groups" 
								:selected-value="entity.groupId"
								select-mode="single"
								header="Parent"
								@select="selectParent"
								>
							</data-table>
						</div>
					</div>
				</div>
			</div>
		</template>
		<script src="webcomponents-loader.js">
		</script>
		<script src="vue.js">
		</script>
		<!-- <script src="vue.min.js">
</script> -->
		<script src="jquery-3.4.1.js">
		</script>
		<script src="jquery-ui.js">
		</script>
		<script src="jquery.datetimepicker.full.min.js">
		</script>
		<script src="jquery.datatables.min.js">
		</script>
		<script src="jstree.js">
		</script>
		<script src="voting.js">
		</script>
	</body>
</html>
