<!doctype html>
<html>

<head>
    <title>
        Decision System
    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../style/jquery-ui.min.css" />
    <link rel="stylesheet" href="../style/jquery-ui.structure.min.css" />
    <link rel="stylesheet" href="../style/jquery-ui.theme.min.css" />
    <link rel="stylesheet" href="../style/jquery.datatables.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/voting.css" />
</head>
<body>
    <div id="vue">
        <v-app>
            <v-content class="container-fluid">



                <nav-bar @showdecisionlist="showDecisionList"
                         @showgrouplist="showGroupList"
                         @showvoterlist="showVoterList">
                </nav-bar>

                <div v-if="currentComponent.length > 0">
                    <button class="btn btn-primary create-button" @click="create_onclick">Create</button>
                    <component :is="currentComponent" v-bind="currentProperties" v-on="currentEvents" />
                </div>
            </v-content>
        </v-app>
        <label>currentColumns</label>
        <pre>{{currentColumns}}</pre>

        <label>currentComponent</label>
        <pre>{{currentComponent}}</pre>

        <label>currentData</label>
        <pre>{{currentData}}</pre>

        <label>currentDecision</label>
        <pre>{{currentDecision}}</pre>

        <label>currentVoter</label>
        <pre>{{currentVoter}}</pre>

        <label>currentGroup</label>
        <pre>{{currentGroup}}</pre>

        <label>currentHeader</label>
        <pre>{{currentHeader}}</pre>

        <label>decisions</label>
        <pre>{{decisions}}</pre>

        <label>voters</label>
        <pre>{{voters}}</pre>

        <label>groups</label>
        <pre>{{groups}}</pre>

    </div>

    <template id="tmpNavBar">
        <nav class="navbar">

            <ul class="navbar nav">
                <li class="nav-item decisions" @click="showDecisionList">
                    <a class="nav-link" href="#">Decisions</a>
                </li>
                <li class="nav-item groups" @click="showGroupList">
                    <a class="nav-link" href="#">Groups</a>
                </li>
                <li class="nav-item voters" @click="showVoterList">
                    <a class="nav-link" href="#">Voters</a>
                </li>
            </ul>
        </nav>
    </template>

    <template id="tmpDataTable">
        <div class="container">
            <h2>{{header}}</h2>
            <v-text-field v-model="search"
                          append-icon="mdi-magnify"
                          label="Search"
                          single-line
                          hide-details></v-text-field>
            <v-data-table :headers="headers"
                          :items="data"
                          :items-per-page="10"
                          :search="search"
                          item-key="id"
                          class="elevation-1">


                <template v-slot:body="{ items }">
                    <tbody v-if="header === 'Voters'">
                        <tr v-for="item in items" @click="showDetail(item.id)" :key="item.id" key="item.id">
                            <td class="linked name" @click="showDetail">{{item.name}}</td>
                            <td class="linked group" @click="showGroupDetail">{{item.groupId}}</td>
                            <td class="created"> {{dateDisplay(item.creationDate)}}</td>
                        </tr>
                    </tbody>

                    <tbody v-else-if="header === 'Decisions'">
                        <tr v-for="item in items" @click="showDetail(item.id)" :key="item.id">
                            <td class="linked name">{{item.name}}</td>
                            <td class="linked status">{{item.statusId}}</td>
                            <td class="linked group">{{item.groupId}}</td>
                            <td class="linked created">{{item.creationDate}}</td>
                            <td class="linked expiration">{{item.expirationDate}}</td>
                            <td class="linked attachments">{{item.attachments}}</td>
                        </tr>
                    </tbody>

                    <tbody v-else="header === 'Groups'">
                        <tr v-for="item in items" @click="showDetail(item.id)" :key="item.id">
                            <td class="linked name">{{item.name}}</td>
                            <td class="linked group">{{item.parentId}}</td>
                            <td class="linked children">{{item.type}}</td>
                            <td class="linked created">{{item.creationDate}}</td>
                            <td class="linked attachments">{{item.attachments}}</td>
                        </tr>
                    </tbody>
                </template>

            </v-data-table>
            <pre>{{data}}</pre>

        </div>
    </template>
    <template id="tmpDecisionDetail">
        <div class="container">
            <h2>Decision</h2>
            <div v-if="editable">
                <button class="btn btn-primary button save-button" @click="save_onclick">Save</button>
                <button class="btn btn-primary button delete-button" @click="delete_onclick">Delete</button>
            </div>
            <div v-if="votable">
                <button v-for="(item, index) in options" @click="vote(index)" class="btn btn-primary vote-button">{{item}}</button>
            </div>
            <div v-if="!editable">
                <div>
                    <label>Name:</label>
                    <span class="decision-name">{{decision.name}}</span>
                </div>
                <div>
                    <label>Description:</label>
                    <div class="decision-description">{{decision.description}}</div>
                </div>
            </div>
            <div v-if="editable">
                <div>
                    <label>Name:</label>
                    <input class="decision-name" type="text" v-model="decision.name" />
                </div>
                <div>
                    <label>Description:</label>
                    <textarea class="decision-description" v-model="decision.description">{{decision.description}}</textarea>
                </div>
                <div>
                    <div>
                        <label>Attachments:</label>
                        <input class="file-upload" type="file" />
                        <button @click="uploadAttachment" class="btn btn-primary add-attachment-button">Upload</button>
                    </div>

                    <div v-for="item in decision.attachments">
                        <a class="attachment-link" :href="item.href">{{item.name}}</a>
                        <button class="btn btn-primary delete-button">X</button>
                    </div>
                </div>
            </div>
            <div v-if="showVotes">
                <data-table :columns="votesColumns"
                            :data="votesDisplay"
                            header="Votes">
                </data-table>
            </div>
            <div v-if="showDiscussion">
                <h2>Discussion</h2>
                <div class="sort-options">
                    <span :class="currentSorting === 'time' ? 'selected' : ''" @click="sortComments('time')">Newest</span>
                    <span :class="currentSorting === 'upvotes' ? 'selected' : ''" @click="sortComments('upvotes')">Most Upvotes</span>
                    <span :class="currentSorting === 'downvotes' ? 'selected' : ''" @click="sortComments('downvotes')">Most Downvotes</span>
                </div>
                <div v-for="item in decision.comments" class="outline">
                    <div>
                        <span class="comment-voter">{{item.voterName}}</span>
                        <span class="comment-time">{{getDate(item.time)}}</span>
                    </div>
                    <div class="comment-narrative">{{item.narrative}}</div>
                </div>
                <textarea> </textarea>
                <button class="btn btn-primary add-comment-button" @click="addComment">Comment</button>
            </div>
        </div>
    </template>
    <template id="tmpGroupDetail">
        <div class="container">
            <h2>Group</h2>
            <div v-if="!editable">
                <div>
                    <label>Name:</label>
                    <span class="group-name">{{value.name}}</span>
                </div>
                <div>
                    <label>Description:</label>
                    <div class="group-description">{{value.description}}</div>
                </div>
                <div>
                    <label>Parent:</label>
                    <span v-if="value.parentId" class="linked parent-group" @click="showDetail(value.parentId, 'Groups')">{{parent.name}}</span>
                </div>
                <div>
                    <data-table :columns="entitiesColumns"
                                :data="value.children"
                                header="Children">
                    </data-table>
                </div>
                <div>
                    <data-table :columns="decisionsColumns"
                                :data="value.decisions"
                                header="Decisions">
                    </data-table>
                </div>
            </div>
            <div v-if="editable">
                <div>
                    <button class="btn btn-primary save-button" @click="save_onclick">Save</button>
                    <button class="btn btn-primary delete-button" @click="delete_onclick">Delete</button>
                </div>
                <div>
                    <label>Type:</label>
                    <div class="inline-block">
                        <input class="group-type-radio" type="radio" name="type" value="1" v-model="value.type" :checked="value.type === 1" />
                        <label>Group</label>
                    </div>
                    <div class="inline-block">
                        <input class="group-type-radio" type="radio" name="type" value="0" v-model="value.type" :checked="value.type === 0" />
                        <label>Voter</label>
                    </div>
                </div>
                <div>
                    <label>Name:</label>
                    <input class="group-name" type="text" v-model="value.name" />
                </div>
                <div>
                    <label>Description:</label>
                    <textarea class="group-description" v-model="value.description">{{value.description}}</textarea>
                </div>
                <div>
                    <div>
                        <label>Parent:</label>
                        <span v-if="value.parentId" class="linked parent-group" @click="showDetail(value.parentId, 'Groups')">{{parent.name}}</span>
                        <!-- <button @click="selectGroup">Select Parent</button> -->
                    </div>
                    <!-- <div v-if="isSelectingGroup" -->
                    <!-- class="modal parent"> -->
                    <!-- <data-table -->
                    <!-- :columns="groupColumns"   -->
                    <!-- :data="groups"  -->
                    <!-- select-mode="single" -->
                    <!-- header="Select a Group" -->
                    <!-- @select="setGroup"> -->
                    <!-- </data-table> -->
                    <!-- </div> -->
                </div>
                <div>
                    <div>
                        <v-dialog v-model="isAddingChild">
                            <template v-slot:activator="{ on }">
                                <v-btn color="primary" dark v-on="on">Add Child</v-btn>
                            </template>
                            <v-card>
                                <data-table :columns="columns"
                                            :data="childSelectionList"
                                            select-mode="single"
                                            class="child-selector"
                                            :header="header"
                                            @select="addChild">
                                </data-table>
                            </v-card>
                        </v-dialog>
                    </div>




                    <data-table :columns="columns"
                                :data="childrenDisplay"
                                :header="header"
                                class="children"
                                select-mode="multi"
                                @select="removeChild"
                                @show-detail="showDetail">
                    </data-table>
                </div>

                <div>
                    <button class="btn btn-primary make-decision-button" @click="makeDecision">Make a Decision</button>
                    <data-table :columns="decisionsColumns"
                                :data="decisionsDisplay"
                                header="Decisions">
                    </data-table>
                </div>
            </div>
            <pre>{{value}}</pre>

        </div>
    </template>
    <template id="tmpVoterDetail">
        <div class="container">
            <h2>Voter</h2>
            <div v-if="!editable">
                <div>
                    <label>Name:</label>
                    <span class="voter-name">{{voter.name}}</span>
                </div>
                <div>
                    <label>Description:</label>
                    <div class="voter-description">{{voter.description}}</div>
                </div>
                <div>
                    <label>Parent:</label>
                    <a class="voter-parent" @click="showGroupDetail">{{voter.parent.href}}</a>
                </div>
            </div>
            <div v-if="editable">
                <div v-if="editable">
                    <button class="btn btn-primary save-button" @click="save_onclick">Save</button>
                    <button class="btn btn-primary delete-button" @click="delete_onclick">Delete</button>
                </div>
                <div>
                    <label>Name:</label>
                    <input class="voter-name" type="text" v-model="voter.name" />
                </div>
                <div>
                    <label>Description:</label>
                    <textarea class="voter-description" v-model="voter.description"> </textarea>
                </div>
                <div>
                    <div>
                        <label>Parent:</label>
                        <span v-if="voter.groupId" class="linked parent-group" @click="showDetail(voter.groupId, 'Groups')">{{group.name}}</span>
                        <button class="btn btn-primary add-parent-button" @click="setupParentSelect">Add Parent</button>
                    </div>
                    <div v-if="isSelectingGroup"
                         class="modal group">
                        <data-table :columns="groupColumns"
                                    :data="groups"
                                    :selected-value="voter.groupId"
                                    select-mode="single"
                                    header="Parent"
                                    @select="selectParent">
                        </data-table>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <!--    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>-->
    <script src="script/webcomponents-loader.js">
    </script>
    <script src="/script/vue.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <!-- <script src="../script/vue.min.js">
    </script> -->
    <script src="/script/jquery-3.4.1.js">
    </script>
    <!--<script src="/script/jquery-ui.js">
    </script>-->
    <!--<script src="/script/jquery.datetimepicker.full.min.js">
    </script>
    <script src="/script/jquery.datatables.min.js">
    </script>
    <script src="/script/jquery.fileupload.js">
    </script>-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="/script/jstree.js">
    </script>
    <script src="/script/voting.js">
    </script>
</body>
</html>
