<!doctype html>
<html>

<head>
    <title>
        Decision System
    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../style/jquery-ui.min.css" />
    <link rel="stylesheet" href="../style/jquery-ui.structure.min.css" />
    <link rel="stylesheet" href="../style/jquery-ui.theme.min.css" />
    <link rel="stylesheet" href="../style/jquery.datatables.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/voting.css" />
</head>
<body>
    <div id="vue">
        <v-app>
            <v-content class="container-fluid">
                <nav-bar @showdecisionlist="showDecisionList"
                         @showgrouplist="showGroupList"
                         @showvoterlist="showVoterList">
                </nav-bar>

                <div v-if="currentComponent.length > 0">
                    <v-btn  class="create-button" color="primary" @click="create_onclick">Create</v-btn>
                    <component :is="currentComponent" v-bind="currentProperties" v-on="currentEvents" />
                </div>
            </v-content>
        </v-app>
        <!--<label>currentColumns</label>
        <pre>{{currentColumns}}</pre>

        <label>currentComponent</label>
        <pre>{{currentComponent}}</pre>

        <label>currentData</label>
        <pre>{{currentData}}</pre>

        <label>currentDecision</label>
        <pre>{{currentDecision}}</pre>

        <label>currentVoter</label>
        <pre>{{currentVoter}}</pre>

        <label>currentGroup</label>
        <pre>{{currentGroup}}</pre>

        <label>currentHeader</label>
        <pre>{{currentHeader}}</pre>

        <label>decisions</label>
        <pre>{{decisions}}</pre>

        <label>voters</label>
        <pre>{{voters}}</pre>

        <label>groups</label>
        <pre>{{groups}}</pre>-->

    </div>

    <template id="tmpNavBar">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <ul class="navbar nav">
                <li class="nav-item active decisions" @click="showDecisionList">
                    <a class="nav-link text-light" href="#">Decisions</a>
                </li>
                <li class="nav-item active groups" @click="showGroupList">
                    <a class="nav-link text-light" href="#">Groups</a>
                </li>
                <li class="nav-item active voters" @click="showVoterList">
                    <a class="nav-link text-light" href="#">Voters</a>
                </li>
            </ul>
        </nav>
    </template>

    <template id="tmpDataTable">
        <div class="container">
            <h2>{{header}}</h2>
            <v-text-field v-model="search"
                          append-icon="mdi-magnify"
                          label="Search"
                          @change="search_onchange"
                          single-line
                          hide-details></v-text-field>
            <v-data-table :headers="headers"
                          :items="data"
                          :items-per-page="10"
                          :search="search"
                          item-key="id"
                          class="elevation-1">


                <template v-slot:body="{ items }">
                    <tbody v-if="header === 'Voters'">
                        <tr v-for="item in items" @click="row_onclick(item)" :key="item.id" :row-id="item.id">
                            <td class="name" >{{item.user.name}}</td>
                            <td class="group" >{{item.groups.length}}</td>
                            <td class="created"> {{dateDisplay(item.creationDate)}}</td>
                        </tr>
                    </tbody>

                    <tbody v-else-if="header === 'Decisions'">
                        <tr v-for="item in items" @click="row_onclick(item.id)" :key="item.id" :row-id="item.id">
                            <td class="linked name">{{item.name}}</td>
                            <td class="status">{{item.statusId}}</td>
                            <td class="linked group">{{item.groupId}}</td>
                            <td class="created">{{item.creationDate}}</td>
                            <td class="expiration">{{item.expirationDate}}</td>
                            <td class="attachments">{{item.attachments}}</td>
                        </tr>
                    </tbody>

                    <tbody v-else="header === 'Groups'">
                        <tr v-for="item in items" @click="row_onclick(item.id)" :key="item.id" :row-id="item.id">
                            <td class="linked name">{{item.name}}</td>
                            <td class="linked group">{{item.parentId}}</td>
                            <td class="linked children">{{item.type}}</td>
                            <td class="created">{{item.creationDate}}</td>
                            <td class="attachments">{{item.attachments}}</td>
                        </tr>
                    </tbody>
                </template>

                <template v-if="showActions" v-slot:item.action="{ item }">
<!--                    <v-icon small class="mr-2" @click="editItem(item)">mdi-pencil</v-icon>-->
                    <v-icon small @click="deleteItem(item.id)">mdi-delete</v-icon>
                </template>

            </v-data-table>
            <!--<pre>{{data}}</pre>-->
            <!--<pre>{{showActions}}</pre>-->

        </div>
    </template>
    <template id="tmpDecisionDetail">
        <div class="container">
            <h2>Decision</h2>
            <div v-if="editable">
                <v-btn  class="save-button" color="primary" @click="save_onclick">Save</v-btn>
                <v-btn  class="delete-button" color="error" @click="delete_onclick">Delete</v-btn>
            </div>
            <div v-if="votable">
                <v-btn color="error" @click="delete_onclick">Delete</v-btn>
                <v-btn v-for="(item, index) in options" @click="vote(index)" color="primary" class="vote-button">{{item}}</v-btn>
            </div>
            <div v-if="!editable">
                <div>
                    <label>Name:</label>
                    <span class="decision-name">{{decision.name}}</span>
                </div>
                <div>
                    <label>Description:</label>
                    <div class="decision-description">{{decision.description}}</div>
                </div>
            </div>
            <div v-if="editable">
                <div>
                    <label>Name:</label>
                    <input class="decision-name" type="text" v-model="decision.name" />
                </div>
                <div>
                    <label>Description:</label>
                    <textarea class="decision-description" v-model="decision.description">{{decision.description}}</textarea>
                </div>
                <div>
                    <div>
                        <label>Attachments:</label>
                        <input class="file-upload" type="file" />
                        <v-btn class="add-attachment-button" color="primary" @click="uploadAttachment">Upload</v-btn>
                    </div>

                    <div v-for="item in decision.attachments">
                        <a class="attachment-link" :href="item.href">{{item.name}}</a>
                        <v-btn class="delete-button" color="error" >X</v-btn>
                    </div>
                </div>
            </div>
            <div v-if="showVotes">
                <data-table :columns="votesColumns"
                            :data="votesDisplay"
                            header="Votes">
                </data-table>
            </div>
            <div v-if="showDiscussion">
                <h2>Discussion</h2>
                <div class="sort-options">
                    <span :class="currentSorting === 'time' ? 'selected' : ''" @click="sortComments('time')">Newest</span>
                    <span :class="currentSorting === 'upvotes' ? 'selected' : ''" @click="sortComments('upvotes')">Most Upvotes</span>
                    <span :class="currentSorting === 'downvotes' ? 'selected' : ''" @click="sortComments('downvotes')">Most Downvotes</span>
                </div>
                <div v-for="item in decision.comments" class="outline">
                    <div>
                        <span class="comment-voter">{{item.voterName}}</span>
                        <span class="comment-time">{{getDate(item.time)}}</span>
                    </div>
                    <div class="comment-narrative">{{item.narrative}}</div>
                </div>
                <textarea> </textarea>
                <v-btn class="add-comment-button" @click="addComment" color="primary">Comment</v-btn>
            </div>
        </div>
    </template>
    <template id="tmpGroupDetail">
        <div class="container">
            <h2>Group</h2>
            <div v-if="!editable">
                <div>
                    <label>Name:</label>
                    <span class="group-name">{{value.name}}</span>
                </div>
                <div>
                    <label>Description:</label>
                    <div class="group-description">{{value.description}}</div>
                </div>
                <div>
                    <label>Parent:</label>
                    <span v-if="value.parentId" class="linked parent-group" @click="showGroupDetail(value.parentId, 'Groups')">{{parent.name}}</span>
                </div>
                <div>
                    <data-table :columns="columns"
                                :data="childrenDisplay"
                                @row_onclick="showChildDetail"
                                :header="header">
                    </data-table>
                </div>
                <div>
                    <data-table :columns="decisionsColumns"
                                :data="decisionsDisplay"
                                @row_onclick="showDecisionDetail"
                                header="Decisions">
                    </data-table>
                </div>
            </div>
            <div v-if="editable">
                <div>
                    <v-btn class="save-button" @click="save_onclick" color="primary">Save</v-btn>
                    <v-btn class="delete-button" @click="delete_onclick" color="error">Delete</v-btn>
                </div>
                <div>
                    <label>Type:</label>
                    <div class="inline-block">
                        <input class="group-type-radio" type="radio" name="type" value="1" v-model="group.type" :checked="group.type === 1" />
                        <label>Group</label>
                    </div>
                    <div class="inline-block">
                        <input class="group-type-radio" type="radio" name="type" value="0" v-model="group.type" :checked="group.type === 0" />
                        <label>Voter</label>
                    </div>
                </div>
                <div>
                    <label>Name:</label>
                    <input class="group-name" type="text" v-model="group.name" />
                </div>
                <div>
                    <label>Description:</label>
                    <textarea class="group-description" v-model="group.description">{{group.description}}</textarea>
                </div>
                <div>
                    <div>
                        <label>Parent:</label>
                        <span v-if="group.parentId" class="linked parent-group" @click="showGroupDetail(group.parentId, 'Groups')">{{parent.name}}</span>
                    </div>
                </div>
                <div v-if="group.id > 0">
                    <div>
                        <v-dialog v-model="isAddingChild">
                            <template v-slot:activator="{ on }">
                                <v-btn color="primary" dark v-on="on">Add Child</v-btn>
                            </template>
                            <v-card>
                                <data-table :columns="columns"
                                            :data="childSelectionList"
                                            class="child-selector"
                                            :header="header"
                                            @row_onclick="addChild"
                                            @search-onchange="search_onchange">
                                </data-table>
                            </v-card>
                        </v-dialog>
                    </div>

                    <data-table :columns="columns"
                                :data="childrenDisplay"
                                :header="header"
                                class="children"
                                :show-actions="true"
                                @delete_item="removeChild"
                                @row_onclick="showChildDetail">
                    </data-table>
                </div>

                <div v-if="group.id > 0">
                    <v-btn class="make-decision-button" @click="makeDecision_onclick" color="primary">Make a Decision</v-btn>
                    <data-table :columns="decisionsColumns"
                                :data="decisionsDisplay"
                                @row_onclick="showDecisionDetail"
                                header="Decisions">
                    </data-table>
                </div>
            </div>
            <!--<pre>{{group}}</pre>-->

        </div>
    </template>
    <template id="tmpVoterDetail">
        <div class="container">
            <h2>Voter</h2>
            <div v-if="!editable">
                <div>
                    <label>Name:</label>
                    <span class="voter-name">{{voter.name}}</span>
                </div>
                <div>
                    <label>Description:</label>
                    <div class="voter-description">{{voter.description}}</div>
                </div>
                <div>
                    <label>Parent:</label>
                    <a class="voter-parent" @click="showGroupDetail">{{voter.parent.href}}</a>
                </div>
            </div>
            <div v-if="editable">
                <div v-if="editable" class="button-row">
                    <v-btn class="save-button" @click="save_onclick" color="primary">Save</v-btn>
                    <v-btn class="delete-button" @click="delete_onclick" color="error">Delete</v-btn>
                </div>
                <div>
                    <label>User:</label>
                    <v-autocomplete @change="user_onchange"
                                    class="voter-user"
                                    :value="user"
                                    :label="user"
                                    :items="users"
                                    :loading="isLoading"
                                    :search-input.sync="search"
                                    cache-items
                                    color="white"
                                    dense
                                    single-line
                                    hide-no-data
                                    hide-selected
                                    item-text="name"
                                    item-value="id"
                                    label="Search Users"
                                    placeholder="Start typing to Search (3 characters minimum)"
                                    prepend-icon="mdi-database-search"
                                    return-object>

                        <template v-slot:item="{ item }">
                            <v-list-item-avatar color="indigo"
                                                class="headline font-weight-light white--text">
                                {{ item.lastName.charAt(0) + item.firstName.charAt(0) }}
                            </v-list-item-avatar>
                            <v-list-item-content>
                                <v-list-item-title v-text="item.name"></v-list-item-title>
                                <v-list-item-subtitle v-text="item.id"></v-list-item-subtitle>
                            </v-list-item-content>
                            <!--<v-list-item-action>
                                <v-icon>mdi-coin</v-icon>
                            </v-list-item-action>-->
                        </template>

                    </v-autocomplete>
                </div>
                <div>
                    <div>
                        <data-table :columns="groupColumns"
                                    :data="groupsDisplay"
                                    @row-onclick="showDetail(voter.groupId, 'Groups')"
                                    header="Groups">
                        </data-table>
                    </div>
                </div>
            </div>

            <!--<pre>{{users}}</pre>-->
            <!--<pre>{{voter}}</pre>-->
        </div>
    </template>
    <script src="script/webcomponents-loader.js">
    </script>
    <script src="/script/vue.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="/script/jquery-3.4.1.js">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="/script/jstree.js">
    </script>
    <script src="/script/voting.js">
    </script>
</body>
</html>
